* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: rgba(144, 208, 233, 0.952);
}
.dos{
    width: 60%;
    height: auto;
    background: gray;
    border-radius: 15px; 
    margin:7% auto ;
    border: 2px solid rgb(255, 1, 1);
}
.l_1{
    color: brown;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
.formin{
    width: 500px;
    max-width: 100%;
    border-radius: 15px; 
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
    position: relative;
}
.form__titulo{
    text-align: center;
    margin-top: 0;
    color: brown;
}
.formin__input, .formin__label,
.formin__submit{
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.formin__input{
    padding: 20px;
    background: rgba(147,74,85,0.4);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}
.formin__input:focus{
    outline: 1px solid  rgba(0,0,0,0.7);
}
.formin__input:focus + .formin__label{
    margin-top: -136px;
}
.formin__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -105px;
    z-index: -20;
    color: rgba(0,0,0,0.7);
    transition: all 0.5s;
}
.formin__submit{
    background: rgba(43, 22, 22, 0.7);
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.attent{
    margin-top: -136px;
}
